html,
body {
	margin: 0;
}

body,
button {
	font-family: sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	&.active {
		color: red;
	}
}

main {
	max-width: 900px;
	padding: 0 3rem;
	display: grid;
	place-items: center;
}
